<!DOCTYPE html>
<html lang="nb">
<head>
    <title>Side</title>
    <link rel="stylesheet" href="/style/main.css">
</head>

<%- include('./nav') %>

<br>

<body>
    <div class="center">
        <% if (flash) { %>
            <div class="flash flash<%= flash.type %>">
                <%= flash.message %>
            </div>
        <% } %>
    </div>
    <div class="center">
        <section class="flexcol">