<!DOCTYPE html>
<html lang="nb">
<head>
    <title>Side</title>
    <link rel="stylesheet" href="/style/main.css">
</head>

<%- include('./nav') %>

<br>

<body>
    <div class="center">
        <section class="flexcol">