<nav class="flexrow navbar">
    <div class="navitem">
        <a href="/">Hjem</a>
    </div>
    <div class="space"></div>
    <% if (!username) { %>
        <a href="/user/login" class="navitem">Logg inn</a>
    <% } else { %>
        <form action="/user/logout" method="post">
            <button class="navitem">Logg ut</button>
        </form>
    <% } %>
    <% if (username) { %>
        <div class="navitem">
            <%= username %>
        </div>
    <% } %>
</nav>