<nav class="flexrow navbar">
    <div class="navitem">
        <a href="/">Hjem</a>
    </div>
    <% if (user) { %>
        <div class="navitem">
            <a href="/review/create">Lag vurdering</a>
        </div>
    <% } %>
    <div class="space"></div>
    <% if (user && user.isAdmin) { %>
        <div class="navitem">
            <a href="/review/reported">Rapporter</a>
        </div>
    <% } %>
    <% if (!user) { %>
        <a href="/user/login" class="navitem">Logg inn</a>
    <% } else { %>
        <form action="/user/logout" method="post">
            <button class="navitem">Logg ut</button>
        </form>
    <% } %>
    <% if (user) { %>
        <div class="navitem">
            <a href="/user/profile/<%= user.username %>"><%= user.username %></a>
        </div>
    <% } %>
</nav>