<%- include('./partials/head') %>
    
    <section class="block">
        <h1>Hjemmeside</h1>
    </section>
    <%- include('./partials/reviewlist', { details: [] }) %>

<%- include('./partials/foot') %>