<%- include('./partials/head') %>
    
    <section class="block">
        <h1>Hjemmeside</h1>

        <h2>Denne siden er tom</h2>
    </section>
    <section class="flexcol">
        <% for( var i = 0; i < reviews.length; i++ ) { 
            review = reviews[i]
            if (i % 2 == 0) { %>
                <section class="center flexrow">
            <% } %> 
            <%- include('./partials/reviewblock', { review }) %>
            <% if (i % 2 == 1 || i == reviews.length - 1) { %>
                </section>    
            <% } %>
        <% } %>
    </section>

<%- include('./partials/foot') %>