<%- include('./partials/head') %>
    
    <section class="block">
        <h1>Rapporter</h1>
        <h2>PS! Denne siden kan bare ses av administratorer.</h2>
        <p>Noen vurderinger kan virke upassende eller utenfor godkjent kvalitet. Defor kan brukere rapportere uoptimale vurderinger til å bli håndtert. Her vises de til administratorer, sånn at dere kan håndtere tilfeller.</p>
    </section>
    <%- include('./partials/reviewlist', { details: ["report", "rating"] }) %>

<%- include('./partials/foot') %>