<%- include('./partials/head') %>
    
    <section class="block">
        <h1>Rapporter</h1>
        <h2>Denne siden kan bare ses av administratorer.</h2>
    </section>
    <%- include('./partials/reviewlist', { details: ["report", "rating"] }) %>

<%- include('./partials/foot') %>