<%- include('./partials/head') %>
<section class="block flexcol">
    <h1>Lag bruker</h1>
    <form action="/user/signup" method="post">
        <label for="username">Brukernavn</label>
        <br>
        <input type="text" name="username" required>
        <br>
        <label for="password">Passord</label>
        <br>
        <input type="password" name="password" required>
        <br>
        <label for="confirm">Bekreft passord</label>
        <br>
        <input type="password" name="confirm" required>
        <br>
        <br>
        <button type="submit"><h3>Lag bruker</h3></button>
    </form>
</section>

<%- include('./partials/foot') %>